name: Docker Builder Robot

on:
  push:
    branches: [ "master" ]

jobs:
  build-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Step 1 - Download code
        uses: actions/checkout@v4

      - name: Step 2 - Build Docker image
        run: docker build -t my-log-analyzer:v1 .

      - name: Step 3 - Test it
        run: echo "Build successful!"
